kind: Deployment
apiVersion: apps/v1
metadata:
  name: prometheus
spec:
  selector:
     matchLabels:
        app: monitoring
  template:
     metadata:
        name: test
        labels:
           app: monitoring
     spec:
       containers:
       - name: mycontainer
         image: prom/prometheus
